@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

body{
    font-family: 'Sora', sans-serif !important;
}

#sobre{
    height: 85vh;
}

.degrade{
    background: linear-gradient(270deg, #9351e2 0%, #7588f5 100%);
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.btn-degrade {
    background: linear-gradient(270deg, #9351e2 0%, #7588f5 100%);
    color: #fff !important;
}

.btn-degrade:hover {
    background: linear-gradient(270deg, #a46ce9 0%, #91a2ff 100%);
}

a {
    text-decoration: none !important;
}