@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

body{
    font-family: 'Sora', sans-serif !important;
}

#sobre{
    height: 85vh;
}

[data-bs-theme="dark"] {
    color: #fff;
    .btn-principal {
        border-radius: 5px;
        background: linear-gradient(270deg, #945DD6 0%, #7989E5 100%) !important;
        box-shadow: 0px 10px 30px 0px rgba(179, 127, 241, 0.10) !important;
    };
}

.degrade{
    background: linear-gradient(270deg, #945DD6 0%, #7E91FF 100%);
    background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}